.usuarios-container {
  width: 85vw; 
  max-width: 90vw; 
  margin: 0 auto; 
  padding: 2vh; 
  border-radius: 1vw; 
  margin-top: 5vh; 
  border: 3px solid #ffffff;
  background-color: #ffffff;
  margin-top: 50px;
}

.filters {
  display: block;
  margin-bottom: 20px;
}

.botonA{
  background-color: #42615c;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  width: 8em;
  height: 3em;
}

.botonA-pos{
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.botonA:hover{
  background-color: #0056b3;
}

.filters select {
  padding: 5px;
  font-size: 0.9em;
  margin-right: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  background-color: #A8D8FF;
  border: 2px solid #e2e2e2;
  border-radius: 1.5vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  max-width: 14.5em;
}

.card:hover {
  transform: translateY(-15px);
}

.card h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.card p {
  margin: 10px 0;
  color: #555;
}

.card p strong {
  color: #333;
}

.card button {
  background-color: #094076;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  width: 100%; /* Se ajusta al tamaño de la celda */
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-cards-2 {
  width: 90%;
  margin-left: 5%;
}

.card button.editar {
  margin-right: 5px;
}

.card button:hover {
  background-color: #0056b3;
}

.edit-form {
  margin-top: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.edit-form h2 {
  font-size: 0.4em;
  margin-bottom: 10px;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.edit-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-form input {
  padding: 5px;
  font-size: 0.7em;
}

.edit-form button {
  background-color: #1d6abc;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.edit-form button[type="button"] {
  background-color: #dc3545;
}

.edit-form button:hover {
  opacity: 0.9;
}

.h1-small-margin {
  margin-left: 41%;
  margin-top: 0px;
  font-size: 50px;
}

@media (max-width: 400px) {
  .h1-small-margin {
    margin-left: 19%;
  }
  
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.filters select:focus {
  outline: none;
  border-color: #00B096;
}