<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auditoría Asignada</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

  <!-- Encabezado -->
  <div style="background-color: #4c82af; color: white; padding: 20px; text-align: center;">
    <img src="cid:logoAguida" alt="Logo" style="width: 100px; height: auto; display: block; margin: 0 auto;">
    <h1 style="margin: 10px 0;">Nueva Auditoría Asignada</h1>
  </div>

  <!-- Contenido -->
  <div style="padding: 20px;">
    <p>Hola <strong>{{usuario}}</strong>,</p>
    <p>Se te ha asignado como auditor líder para una nueva auditoría programada {{Duracion}}</p>
    <p>Los miembros del equipo auditor son: {{nombresEquipoAuditor}}</p>
    <p>Por favor, acceda al sistema para revisarla.</p>
    <a href="https://auditapp-dqej.onrender.com" style="color: #4c82af; text-decoration: none;">https://auditapp-dqej.onrender.com</a>
    <br></br>
    <br></br>
    <br></br>
    <p style="font-size: 10px;">Correo informativo, favor de no responder.</p>
    <p style="font-size: 10px;">Cualquier duda comunicarse con el administrador soleje2862004@gmail.com</p>
  </div>

  <!-- Pie de página -->
  <footer style="background-color: #4c82af; color: white; padding: 10px; text-align: center;">
    <p>Atentamente</p>
    <p>Gestión para la Calidad</p>
  </footer>

</body>
</html>
