.modal-body {
    background-color: #333;
    color: white;           
    padding: 20px;          
    border-radius: 10px;    
    max-width: 600px;       
    margin: 0 auto; 
    border: 3px solid #ffffff;        
  }
  
  .modal-title {
    font-size: 24px;        
    margin-bottom: 10px; 
  }
  
  .modal-bodyul {
    list-style-type: disc;  
    padding-left: 20px;    
  }
  
  .modal-bodyli {
    margin-bottom: 10px;   
    line-height: 1.5;    
  }
  