.hallazgo-imagen {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.datos-container-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    width: 80rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datos-container-repo th {
    background-color: #bdfdbd;;
}

th.conformity-header-repo {
    text-align: center;
    vertical-align: middle;
    background-color: #189c44;
    color: #ffffff;
}

.header-container-datos-repo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.header-container-datos-repo h1{
    display: flex;
    align-items: center;
    margin-left: 21%;
    width: 100%;
    margin-bottom: 20px;
}

.contenedor-repo{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    width: 78rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
    margin-bottom: 10px;
}

.duracion-bloque-repo {
    width: 81rem;
    margin-bottom: 20px;
    background-color: #00B096;
    cursor: pointer;
}

.duracion-bloque-repo h2 {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.espacio-repo {
    margin-top: 70px;
}

.logo-empresa-repo {
    height: auto;
    width: 14%;
    max-width: 20%;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.dato {
    text-align: left;
    font-size: 14px;
    margin-bottom: 1%;
}

.bold-text {
    font-weight: bold;
}

.mover {
    margin-top: -1%;
    margin-bottom: 1%;
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.horizontal-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 13em;
}

.horizontal-group:last-child {
    margin-right: 0; 
}

.horizontal-item {
    box-sizing: border-box;
}

.horizontal-inline {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
}

.horizontal-inline-item {
    margin-left: 5px; /* Ajusta el margen según sea necesario */
}

.update-button-container.hidden {
    display: none;
}

/* En tu archivo CSS (por ejemplo, Reporte.css) */
.table-header {
    width: 150px; /* Puedes ajustar el tamaño a lo que necesites */
    text-align: center;
}

.alingR2{
    text-align: left;
}

.hidden {
    display: none;
}

.tablas-reporte table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}