body {
  background: linear-gradient(to right,rgb(22, 46, 151),rgb(37, 209, 172));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Christmas Baliana';
  src: url('./assets/fonts/Baliana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
