.contenedor-repo-fin{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    width: 78rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    margin-top: -10px;
    margin-bottom: 10px;
}

.contenedor-repo-fin-2{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    width: 78rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.contenedor-repo-fin-3{
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    width: 78rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
    margin-bottom: 10px;
}

.header-container-datos-repo-fin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}